*{
    margin: 0px;
    border: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0px;
}
header{
    background-color: #1D0F6E;
    color: white;
    justify-content: center;
    display: flex;
    gap: 1000px;
    text-align: center;
    height: 60px;
  
}
.telefone{
margin-top: 20px;
font-size: 15px;
}
.tuor{
    margin-top: 20px;
    font-size: 15px;
}
.inicio{
    background-image: url('img/aviao.png');
    height: 787px;
    align-items: center;background-size: cover;
    text-align: center;
    color: white;
    font-size: 60px;
}
.txti{
    width: 80%;
    font-weight: 10;
    padding-left: 140px;
    padding-top: 100px;
}
.viagens{
    display: flex;
    margin-top: 100px;
    justify-content: center;
}
.londres{
    margin-right: 60px;
    text-align: center;
    border: 5px solid black;
    border-radius: 15px;
}
.londress{
    height: 500px;
    width: 300px;
}
.rioo{
    height: 500px;
    width: 300px;
}
.japaoo{
    height: 500px;
    width: 300px;
}

.rio{
    height: 580px;
    width: 300px;
    margin-right: 60px;
    text-align: center;
    border: 5px solid black;
    border-radius: 13px;
}
.japao{
    text-align: center;
    border: 5px solid black;
    border-radius: 13px;
}
p{
    font-size: 10px;
}
.maior{
    font-size: 30px;
}
.confi{
    text-align: center;
    font-size: 60px;
    color: #1D0F6E;
    margin-top: 80px;
}
.nao{
    color: #1D0F6E;
    font-size: 60px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 130px;
}
footer{
    background-color: #1D0F6E;
    text-align: center;
    height: 100px;
    align-items: center;
    color: white;
    font-size: 40px;
    justify-content: center;
    display: flex;
}